{% extends 'base.html' %}

{% block title %}
About Me
{% endblock %}

{% block content %}
    <div class='row'>
        <div class="w-50 mx-auto">
            <p class='text-left'>
                Hi! Thank you for visiting my website! I really hope it was useful for your investment research! 
                <br><br>I have created this website to help investors and
                like-minded people use data from r/wallstreetbets and other subreddit groups
                to find assymetric opportunities in the stock market.
            </p>
            <p>
                <b>My skills:</b>
                <ul>
                    <li>Profiecient in Python and SQL</li>
                    <li>Familiar with HTML, CSS and JavaScript(tiny bit)</li>
                    <li>Data Analysis</li>
                        <ul>
                            <li>Pandas, Numpy, Scipy</li>
                            <li>Matplotlib and Plotly</li>
                            <li>SQL</li>
                        </ul>
                    <li>Web Development</li>
                        <ul>
                            <li>Django</li>
                            <li>HTML/CSS/JS</li>
                        </ul>
                    <li>Software Design</li>
                    <li>Networking</li>
                    <li>Agile Methodologies</li>
                </ul
            </p>
            <p>
                If you would like to get in touch with me about work opportunities
                Please send your queries <a href="mailto:nikita.izmailovv@gmail.com">here</a>
            </p>
        </div>
    </div>
{% endblock %}